<div class="bg-white py-12 md:py-24">
  <div class="mx-auto max-w-lg px-4 lg:px-8">
    <form
      class="grid grid-cols-6 gap-4"
      #createForm="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="col-span-3">
        <label for="FirstName" class="block text-xs font-medium text-gray-700">
          First Name
        </label>

        <input
          type="text"
          required
          minlength="4"
          maxlength="10"
          name="firstName"
          [(ngModel)]="firstName"
          (ngModelChange)="firstNameChange($event)"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />

        <div *ngIf="error.firstName" class="text-red-300 mt-2">
          First Name is required. & must be at least 4 characters long. & must
          not exceed 10 characters.
        </div>
      </div>

      <div class="col-span-3">
        <label for="LastName" class="block text-xs font-medium text-gray-700">
          Last Name
        </label>

        <input
          type="text"
          name="lastName"
          required
          minlength="4"
          maxlength="10"
          [(ngModel)]="lastName"
          (ngModelChange)="lastNameChange($event)"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />
        <div *ngIf="error.lastName" class="text-red-300 mt-2">
          Last Name is required. & must be at least 4 characters long. & must
          not exceed 10 characters.
        </div>
      </div>

      <div class="col-span-6">
        <label for="Phone" class="block text-xs font-medium text-gray-700">
          Phone
        </label>

        <input
          type="text"
          required
          minlength="9"
          maxlength="9"
          name="phoneNumber"
          placeholder="00 000 00 00 0"
          [(ngModel)]="phoneNumber"
          (ngModelChange)="phoneNumberChange($event)"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />

        <div *ngIf="error.phoneNumber" class="text-red-300 mt-2">
          Invalid phone number & Phone Number must be at least 9 characters long
        </div>
      </div>

      <fieldset class="col-span-6">
        <legend class="block text-sm font-medium text-gray-700">
          Card Details
        </legend>

        <div class="mt-1 -space-y-px rounded-md bg-white shadow-sm">
          <div>
            <label for="CardNumber" class="sr-only"> Card Number </label>

            <input
              type="text"
              name="cartNumber"
              required
              minlength="16"
              maxlength="16"
              [(ngModel)]="cartNumber"
              (ngModelChange)="cartNumberChange($event)"
              placeholder="Card Number"
              class="relative mt-1 w-full rounded-t-md border-gray-200 focus:z-10 sm:text-sm"
            />

            <div *ngIf="error.cartNumber" class="text-red-300 mt-2">
              Invalid card number & Card Number must be at least 16 characters
              long
            </div>
          </div>

          <div class="flex -space-x-px">
            <div class="flex-1">
              <label for="CardExpiry" class="sr-only"> Card Expiry </label>

              <input
                type="text"
                name="cartDate"
                required
                maxlength="4"
                [(ngModel)]="cartDate"
                (ngModelChange)="cartDateChange($event)"
                placeholder="Expiry Date"
                class="relative w-full rounded-bl-md border-gray-200 focus:z-10 sm:text-sm"
              />

              <div *ngIf="error.cartDate" class="text-red-300 mt-2">
                Invalid card date & Card Date must be at least 4 characters long
              </div>
            </div>

            <div class="flex-1">
              <label for="CardCVC" class="sr-only"> Card CVC </label>

              <input
                type="text"
                name="cartCsv"
                required
                maxlength="3"
                [(ngModel)]="cartCsv"
                (ngModelChange)="cartCsvChange($event)"
                placeholder="CVC"
                class="relative w-full rounded-br-md border-gray-200 focus:z-10 sm:text-sm"
              />

              <div *ngIf="error.cartCsv" class="text-red-300 mt-2">
                Invalid card csv & Card Csv must be at least 3 characters long
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="col-span-6">
        <button
          [disabled]="!createForm.valid"
          type="submit"
          class="block w-full rounded-md bg-black p-2.5 text-sm text-white transition hover:shadow-lg"
        >
          Pay Now
        </button>
      </div>
    </form>
  </div>
</div>
