<div class="bg-white py-12 md:py-24">
  <div class="mx-auto max-w-lg px-4 lg:px-8">
    <form
      class="grid grid-cols-6 gap-4"
      [formGroup]="createForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="col-span-3">
        <label for="FirstName" class="block text-xs font-medium text-gray-700">
          First Name
        </label>

        <input
          type="text"
          formControlName="firstName"
          [ngClass]="{
            'text-red-300': submited && FirstName?.touched && FirstName?.invalid
          }"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />

        <div
          *ngIf="
            FirstName &&
            FirstName?.invalid &&
            (FirstName?.dirty || FirstName?.touched)
          "
          class="text-red-300 mt-2"
        >
          <div
            class="text-red-300 mt-2"
            *ngIf="FirstName && FirstName?.errors?.['required']"
          >
            First Name is required.
          </div>
          <div
            class="text-red-300 mt-2"
            *ngIf="FirstName && FirstName?.errors?.['minlength']"
          >
            Name must be at least 4 characters long.
          </div>

          <div
            class="text-red-300 mt-2"
            *ngIf="FirstName && FirstName?.errors?.['minlength']"
          >
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="col-span-3">
        <label for="LastName" class="block text-xs font-medium text-gray-700">
          Last Name
        </label>

        <input
          type="text"
          formControlName="lastName"
          [ngClass]="{
            'text-red-300': submited && LastName?.touched && LastName?.invalid
          }"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />

        <div
          *ngIf="
            LastName &&
            LastName?.invalid &&
            (LastName?.dirty || LastName?.touched)
          "
          class="text-red-300 mt-2"
        >
          <div
            class="text-red-300 mt-2"
            *ngIf="LastName && LastName?.errors?.['required']"
          >
            Last Name is required.
          </div>
          <div
            class="text-red-300 mt-2"
            *ngIf="LastName && LastName?.errors?.['minlength']"
          >
            Name must be at least 4 characters long.
          </div>

          <div
            class="text-red-300 mt-2"
            *ngIf="LastName && LastName?.errors?.['minlength']"
          >
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="col-span-6">
        <label for="Phone" class="block text-xs font-medium text-gray-700">
          Phone
        </label>

        <input
          type="text"
          formControlName="phoneNumber"
          [ngClass]="{
            'text-red-300':
              submited && PhoneNumber?.touched && PhoneNumber?.invalid
          }"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />

        <div
          *ngIf="
            PhoneNumber &&
            PhoneNumber?.invalid &&
            (PhoneNumber?.dirty || PhoneNumber?.touched)
          "
          class="text-red-300 mt-2"
        >
          <div
            class="text-red-300 mt-2"
            *ngIf="PhoneNumber && PhoneNumber?.errors?.['required']"
          >
            Phone Number is required.
          </div>
          <div
            class="text-red-300 mt-2"
            *ngIf="PhoneNumber && PhoneNumber?.errors?.['minlength']"
          >
            Phone Number must be at least 9 characters long.
          </div>

          <div
            class="text-red-300 mt-2"
            *ngIf="PhoneNumber && PhoneNumber?.errors?.['minlength']"
          >
            Phone Number must be at least 9 characters long.
          </div>

          <div *ngIf="PhoneNumber && PhoneNumber?.errors?.['pattern']">
            Number invalid
          </div>
        </div>
      </div>

      <fieldset class="col-span-6">
        <legend class="block text-sm font-medium text-gray-700">
          Card Details
        </legend>

        <div class="mt-1 -space-y-px rounded-md bg-white shadow-sm">
          <div>
            <label for="CardNumber" class="sr-only"> Card Number </label>

            <input
              type="text"
              formControlName="cartNumber"
              [ngClass]="{
                'text-red-300':
                  submited && CartNumber?.touched && CartNumber?.invalid
              }"
              placeholder="Card Number"
              class="relative mt-1 w-full rounded-t-md border-gray-200 focus:z-10 sm:text-sm"
            />

            <div
              *ngIf="
                CartNumber &&
                CartNumber?.invalid &&
                (CartNumber?.dirty || CartNumber?.touched)
              "
              class="text-red-300 mt-2"
            >
              <div *ngIf="CartNumber && CartNumber?.errors?.['pattern']">
                Number invalid
              </div>
              <div
                class="text-red-300 mt-2"
                *ngIf="CartNumber && CartNumber?.errors?.['required']"
              >
                Cart Number is required.
              </div>
              <div
                class="text-red-300 mt-2"
                *ngIf="CartNumber && CartNumber?.errors?.['minlength']"
              >
                Cart Number must be at least 16 characters long.
              </div>

              <div
                class="text-red-300 mt-2"
                *ngIf="CartNumber && CartNumber?.errors?.['minlength']"
              >
                Cart Number must be at least 16 characters long.
              </div>
            </div>
          </div>

          <div class="flex -space-x-px">
            <div class="flex-1">
              <label for="CardExpiry" class="sr-only"> Card Expiry </label>

              <input
                type="text"
                formControlName="cartDate"
                [ngClass]="{
                  'text-red-300':
                    submited && CartDate?.touched && CartDate?.invalid
                }"
                placeholder="Expiry Date"
                class="relative w-full rounded-bl-md border-gray-200 focus:z-10 sm:text-sm"
              />

              <div
                *ngIf="
                  CartDate &&
                  CartDate?.invalid &&
                  (CartDate?.dirty || CartDate?.touched)
                "
                class="text-red-300 mt-2"
              >
                <div *ngIf="CartDate && CartDate?.errors?.['pattern']">
                  Number invalid
                </div>
                <div
                  class="text-red-300 mt-2"
                  *ngIf="CartDate &&  CartDate?.errors?.['required']"
                >
                  Cart Date is required.
                </div>
                <div
                  class="text-red-300 mt-2"
                  *ngIf="CartDate &&  CartDate?.errors?.['minlength']"
                >
                  Cart Date must be at least 4 characters long.
                </div>

                <div
                  class="text-red-300 mt-2"
                  *ngIf="CartDate &&  CartDate?.errors?.['minlength']"
                >
                  Cart Date must be at least 4 characters long.
                </div>
              </div>
            </div>

            <div class="flex-1">
              <label for="CardCVC" class="sr-only"> Card CVC </label>

              <input
                type="text"
                formControlName="cartCsv"
                [ngClass]="{
                  'text-red-300':
                    submited && CartCsv?.touched && CartCsv?.invalid
                }"
                placeholder="CVC"
                class="relative w-full rounded-br-md border-gray-200 focus:z-10 sm:text-sm"
              />

              <div
                *ngIf="
                  CartCsv &&
                  CartCsv?.invalid &&
                  (CartCsv?.dirty || CartCsv?.touched)
                "
                class="text-red-300 mt-2"
              >
                <div *ngIf="CartCsv && CartCsv?.errors?.['pattern']">
                  Number invalid
                </div>
                <div
                  class="text-red-300 mt-2"
                  *ngIf="CartCsv &&  CartCsv?.errors?.['minlength']"
                >
                  Cart Date must be at least 4 characters long.
                </div>

                <div
                  class="text-red-300 mt-2"
                  *ngIf="CartCsv &&  CartCsv?.errors?.['minlength']"
                >
                  Cart Date must be at least 4 characters long.
                </div>
                <div
                  class="text-red-300 mt-2"
                  *ngIf="CartCsv && CartCsv?.errors?.['required']"
                >
                  Cart Csv is required.
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="col-span-6">
        <button
          [disabled]="createForm.invalid"
          type="submit"
          class="block w-full rounded-md bg-black p-2.5 text-sm text-white transition hover:shadow-lg"
        >
          Pay Now
        </button>
      </div>
    </form>
  </div>
</div>
