<div class="bg-white py-12 md:py-24">
  <div class="mx-auto max-w-lg px-4 lg:px-8">
    <form
      class="grid grid-cols-6 gap-4"
      [formGroup]="createForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="col-span-3">
        <label for="FirstName" class="block text-xs font-medium text-gray-700">
          First Name
        </label>

        <input
          type="text"
          formControlName="firstName"
          [ngClass]="{
            'is-invalid': submited && FirstName?.touched && FirstName?.errors
          }"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />

        <div
          *ngIf="FirstName?.invalid && (FirstName?.dirty || FirstName?.touched)"
          class="text-red-300 mt-2"
        >
          <div
            class="text-red-300 mt-2"
            *ngIf="FirstName?.errors?.['required']"
          >
            First Name is required.
          </div>
          <div
            class="text-red-300 mt-2"
            *ngIf="FirstName?.errors?.['minlength']"
          >
            Name must be at least 4 characters long.
          </div>

          <div
            class="text-red-300 mt-2"
            *ngIf="FirstName?.errors?.['minlength']"
          >
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="col-span-3">
        <label for="LastName" class="block text-xs font-medium text-gray-700">
          Last Name
        </label>

        <input
          type="text"
          formControlName="lastName"
          [ngClass]="{
            'is-invalid': submited && LastName?.touched && LastName?.errors
          }"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />

        <div
          *ngIf="LastName?.invalid && (LastName?.dirty || LastName?.touched)"
          class="text-red-300 mt-2"
        >
          <div class="text-red-300 mt-2" *ngIf="LastName?.errors?.['required']">
            Last Name is required.
          </div>
          <div
            class="text-red-300 mt-2"
            *ngIf="LastName?.errors?.['minlength']"
          >
            Name must be at least 4 characters long.
          </div>

          <div
            class="text-red-300 mt-2"
            *ngIf="LastName?.errors?.['minlength']"
          >
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="col-span-6">
        <label for="Email" class="block text-xs font-medium text-gray-700">
          Email
        </label>

        <input
          type="email"
          formControlName="email"
          [ngClass]="{
            'is-invalid': submited && Email?.touched && Email?.errors
          }"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />

        <div
          *ngIf="Email?.invalid && (Email?.dirty || Email?.touched)"
          class="text-red-300 mt-2"
        >
          <div class="text-red-300 mt-2" *ngIf="Email?.errors?.['required']">
            Email is required.
          </div>
          <div class="text-red-300 mt-2" *ngIf="Email?.errors?.['email']">
            Email characters error.
          </div>
        </div>
      </div>

      <div class="col-span-6">
        <label for="Phone" class="block text-xs font-medium text-gray-700">
          Phone
        </label>

        <input
          type="tel"
          formControlName="phone"
          [ngClass]="{
            'is-invalid':
              submited && PhoneNumber?.touched && PhoneNumber?.errors
          }"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />

        <div
          *ngIf="
            PhoneNumber?.invalid && (PhoneNumber?.dirty || PhoneNumber?.touched)
          "
          class="text-red-300 mt-2"
        >
          <div
            class="text-red-300 mt-2"
            *ngIf="PhoneNumber?.errors?.['required']"
          >
            Phone Number is required.
          </div>
          <div
            class="text-red-300 mt-2"
            *ngIf="PhoneNumber?.errors?.['minlength']"
          >
            Phone Number must be at least 9 characters long.
          </div>

          <div
            class="text-red-300 mt-2"
            *ngIf="PhoneNumber?.errors?.['minlength']"
          >
            Phone Number must be at least 9 characters long.
          </div>
        </div>
      </div>

      <fieldset class="col-span-6">
        <legend class="block text-sm font-medium text-gray-700">
          Card Details
        </legend>

        <div class="mt-1 -space-y-px rounded-md bg-white shadow-sm">
          <div>
            <label for="CardNumber" class="sr-only"> Card Number </label>

            <input
              type="text"
              formControlName="cartNumber"
              [ngClass]="{
                'is-invalid':
                  submited && CartNumber?.touched && CartNumber?.errors
              }"
              placeholder="Card Number"
              class="relative mt-1 w-full rounded-t-md border-gray-200 focus:z-10 sm:text-sm"
            />

            <div
              *ngIf="
                CartNumber?.invalid &&
                (CartNumber?.dirty || CartNumber?.touched)
              "
              class="text-red-300 mt-2"
            >
              <div
                class="text-red-300 mt-2"
                *ngIf="CartNumber?.errors?.['required']"
              >
                Cart Number is required.
              </div>
              <div
                class="text-red-300 mt-2"
                *ngIf="CartNumber?.errors?.['minlength']"
              >
                Cart Number must be at least 16 characters long.
              </div>

              <div
                class="text-red-300 mt-2"
                *ngIf="CartNumber?.errors?.['minlength']"
              >
                Cart Number must be at least 16 characters long.
              </div>
            </div>
          </div>

          <div class="flex -space-x-px">
            <div class="flex-1">
              <label for="CardExpiry" class="sr-only"> Card Expiry </label>

              <input
                type="text"
                formControlName="cartDate"
                [ngClass]="{
                  'is-invalid':
                    submited && CartDate?.touched && CartDate?.errors
                }"
                placeholder="Expiry Date"
                class="relative w-full rounded-bl-md border-gray-200 focus:z-10 sm:text-sm"
              />

              <div
                *ngIf="
                  CartDate?.invalid && (CartDate?.dirty || CartDate?.touched)
                "
                class="text-red-300 mt-2"
              >
                <div
                  class="text-red-300 mt-2"
                  *ngIf="CartDate?.errors?.['required']"
                >
                  Cart Date is required.
                </div>
                <div
                  class="text-red-300 mt-2"
                  *ngIf="CartDate?.errors?.['minlength']"
                >
                  Cart Date must be at least 4 characters long.
                </div>

                <div
                  class="text-red-300 mt-2"
                  *ngIf="CartDate?.errors?.['minlength']"
                >
                  Cart Date must be at least 4 characters long.
                </div>
              </div>
            </div>

            <div class="flex-1">
              <label for="CardCVC" class="sr-only"> Card CVC </label>

              <input
                type="text"
                formControlName="cartCsv"
                [ngClass]="{
                  'is-invalid': submited && CartCsv?.touched && CartCsv?.errors
                }"
                placeholder="CVC"
                class="relative w-full rounded-br-md border-gray-200 focus:z-10 sm:text-sm"
              />

              <div
                *ngIf="CartCsv?.invalid && (CartCsv?.dirty || CartCsv?.touched)"
                class="text-red-300 mt-2"
              >
                <div
                  class="text-red-300 mt-2"
                  *ngIf="CartCsv?.errors?.['required']"
                >
                  Cart Csv is required.
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="col-span-6">
        <button
          type="submit"
          class="block w-full rounded-md bg-black p-2.5 text-sm text-white transition hover:shadow-lg"
        >
          Pay Now
        </button>
      </div>
    </form>
  </div>
</div>
